<link rel="import" href="dy-date.html">

<template id="dy-blog">
	<style>
		:host {
			margin: 0;
		}
		dy-post {
			padding: 0 var(--padding);
		}
	</style>
</template>

<template id="dy-post">
	<style>
		:host {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			overflow: hidden;
			position: relative;
			min-height: 10rem;
			max-height: 21rem;
		}

		#background {
			background-attachment: fixed;
			background-position: center;
			position: absolute;
			left: 0;
			top: 0;

			opacity: 0.9;
			filter: blur(1rem);

			transform: scale(1.1);
		}

		#featured-image-wrapper, #outer-wrapper {
			flex-direction: column;
			overflow-y: scroll;
			padding: var(--padding) 0;
			position: relative;
		}

		#featured-image-wrapper {
			flex: 0 20rem;
			margin-right: var(--padding);
		}
		:host(.no-featured-image) #featured-image-wrapper {
			display: none;
		}
		
		#featured-image-wrapper > *, #inner-wrapper {
			margin: auto 0;
		}

		#outer-wrapper {
			flex: 1;
		}
		:host(.no-featured-image) #outer-wrapper {
			text-align: center;
		}
		#inner-wrapper {
			display: block;
			background-color: rgba(255, 255, 255, 0.3);
			padding: var(--padding-small);
			border-radius: 0.5rem;
		}

		@media (max-width: 50rem) {
			:host {
				display: block;
				max-height: none;
				text-align: center;
			}
			#featured-image-wrapper {
				margin-right: 0;
				padding-bottom: 0;
				max-height: 50vh;
			}
		}
	</style>
	<div id="background"></div>
	<div id="featured-image-wrapper">
		<a class="link"><img id="featured-image"></a>
	</div>
	<div id="outer-wrapper">
		<div id="inner-wrapper">
			<dy-date id="modified-date"></dy-date>
			<a class="link"><h2 id="title"></h2></a>
			<blockquote id="excerpt"></blockquote>
			<p><a class="link"><dy-button theme="accented heavy 3D">Read More</dy-button></a></p>
		</div>
	</div>
</template>


<script>
class DYBlog extends DYElement {
	constructor(){
		super()

		const root = this.root
		
		DY.getData.then(data => {
			for(const post of data.postsByPostType['post']){
				const $post = $$$('dy-post')
				$post.appendTo(root)
				$post.data = post
			}
		})
	}
}
customElements.define('dy-blog', DYBlog)

class DYPost extends DYElement {
	set data(data){
		const root = this.root
		root.updateWithModel({
			'#title': data.title.rendered,
			'#modified-date[data-date]': data.date,
			'.link[href]': data.link,
			'#excerpt': data.excerpt.rendered
		})
		if(data.featuredImage){
			root.updateWithModel({
				'img[src]': data.featuredImage.source_url,
				'img[alt]': data.featuredImage.alt_text,
				'#background[style]': {
					'background-image': `url(${data.featuredImage.source_url})`
				}
			})
		}else{
			this.addClass('no-featured-image')
		}
	}
}
customElements.define('dy-post', DYPost)
</script>