<template id="dy-background">
	<style>
		:host, :host * {
			pointer-events: none;
			position: fixed;
			width: 100%;
			height: 100%;
		}
	</style>

	<iframe></iframe>
	<canvas></canvas>
</template>


<script>
class DYBackground extends DYElement {
	animateBlurredImage(url){
		this.$canvas
			.draw(function(){
				this.globalAlpha = 0.1
				this.blur(30)
			})
			.animate(function(t){
				if(url){
					this.loadImage(url).then(img => {
						this.drawImage(img, 0, 0, this.width, this.width / img.ratio)
					})
				}else{
					//this.clear()
				}
				if(t++ > 20){
					return false
				}
			}, 10)
	}

	get $canvas(){
		return this.root.find('canvas')
	}
}
customElements.define('dy-background', DYBackground)
</script>