<template id="dy-date">
	<style>
	:host {
		display: inline;
	}
	</style>
	<date></date>
</template>


<script>
class DYDate extends DYElement {
	constructor(){
		super()

		this.root
	}
	
	static get observedAttributes() {
		return ['data-date']
	}

	attributeChangedCallback(attr, oldVal, newVal){
		const root = this.root

		const date = this.attr('data-date')
		if(!date) return

		let formattedDate
		switch(this.attr('format')){
			case 'short':
				formattedDate = moment(date).format('M/D/YY')
				break
			case 'full': default:
				formattedDate = moment(date).format('MMMM Do, YYYY')
				break
		}
		root.find('date').html(formattedDate)
	}
}
customElements.define('dy-date', DYDate)
</script>