<template id="dy-nav">
	<style>
		:host {
			display: flex;
			line-height: 1.5;
		}

		#inner-wrapper {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;
			margin-left: 1em;
		}
		#current-title {
			margin: 0;
			font-size: 1.1em;
		}

		#prev-next {
			font-size: 0.8em;
			justify-content: space-between;
			min-width: 100%;
			margin: -0.5em;
		}
		#prev-next > * {
			margin: 0.5em;
		}
		[rel=prev]:before {
			content: '‹ ';
		}
		[rel=next]:after {
			content: ' ›';
		}
	</style>
	<div id="inner-wrapper">
		<h1 id="current-title"></h1>
		<div id="prev-next">
			<a rel="prev" class="prev"></a>
			<div class="current-term"></div>
			<a rel="next" class="next"></a>
		</div>
	</div>
</template>


<script>
class DYNav extends DYElement {
	connectedCallback(){
		const root = this.root

		window.on('pagerender', () => this.update())
	}

	update(){
		if(WP.queryType !== 'single') return

		const currentPost = WP.current
		const previousPost = this.previousPost
		const nextPost = this.nextPost

		this.root.updateWithModel({
			'#current-title': currentPost.title.rendered
		})

		const showPrev = previousPost && previousPost !== currentPost
		X(this.root.find('.prev').text)
		this.root.find('.prev')
			.html(showPrev ? previousPost.title.rendered : '')
			.attr('href', showPrev ? previousPost.link : '')

		const showNext = nextPost && nextPost !== currentPost
		this.root.find('.next')
			.html(showNext ? nextPost.title.rendered : '')
			.attr('href', showNext ? nextPost.link : '')

		this.$currentTerm.empty()
			.append(
				DYTerms.make$Term(WP.data.termsByID[this.currentTerm])
			)
		//this.$currentTerm.initialize([this.currentTerm])
	}

	get currentCategory(){
		if(!this.data.category || !WP.current.categories.includes(this.data.category)){
			this.data.category = WP.current.categories[0]
		}
		return this.data.category
	}
	set currentCategory(categoryID){
		this.data.category = categoryID
		this.update()
	}

	get currentTerm(){
		if(!this.data.term || !WP.current.terms.includes(this.data.term)){
			this.data.term = this.currentCategory || WP.current.terms[0]
		}
		return this.data.term
	}
	set currentTerm(termID){
		this.data.term = termID
		this.update()

		notify(
			`You're navigating projects tagged ${this.$currentTerm.innerHTML}. Enjoy!`,
			{id: 'navigation_term'}
		)
	}

	get posts(){
		return WP.data.postsByPostType['project']
			.filter(project => project.terms.includes(this.currentTerm))
	}

	get previousPost(){
		const i = this.posts.indexOf(WP.current)
		const l = this.posts.length
		return this.posts[(i + l - 1) % l]
	}
	get nextPost(){
		const i = this.posts.indexOf(WP.current)
		const l = this.posts.length
		return this.posts[(i + 1) % l]
	}

	get data(){
		if(!DY.data.navigation){
			DY.data.navigation = {}
		}
		return DY.data.navigation
	}

	get $currentTerm(){
		return this.root.find('.current-term')
	}
}
customElements.define('dy-nav', DYNav)
</script>