<template id="dy-notifications">
	<style>
		:host {
			display: flex;
			flex-direction: column;
			/*justify-content: flex-end;*/
			align-items: flex-end;
			font-size: 0.9em;
			margin: -3px;
			overflow-y: auto;
			position: fixed;
			text-align: justify;
			bottom: 0;
			right: 0;
			padding: 6px;
			max-height: min-content;
			height: 100%;
			z-index: 1;
			transition: padding 0.3s;
		}
	</style>
	<slot>
</template>

<script>
class DYNotifications extends DYElement {
	connectedCallback(){
		this.root
		window.$DYNotifications = this
		window.notify = window.alert = this.notify.bind(this)
	}

	notify(message, dismiss, type){
		// Check if a notification already has this message.
		let notification = [...this.$notifications].find(function($this){
			return $this.html() == message// && $this.childNodes.length === 0
		})
		if(notification){
			notification.remind()
		}else{
			notification = new DYNotification()
				.html(message)
				.attr('type', type || 'info')
			notification.dismiss(dismiss)
		}
	}

	get $notifications(){
		return this.find('dy-notification')
	}
}
customElements.define('dy-notifications', DYNotifications)
</script>


<template id="dy-notification">
	<style>
		:host {
			background-color: rgba(255,255,255,0.9);
			border-radius: 7px;
			border-bottom-right-radius: 4px;
			box-shadow: rgba(0,0,0,.118) 0 4px 3px -3px;
			box-sizing: content-box;
			display: flex;
			position: relative;
			line-height: 1.4;
			margin: 3px;
			overflow: hidden;
			padding: 0.4em 0.5em;
			width: max-content;
			min-width: 10vw;
			max-width: 360px;
			min-height: min-content;
			max-height: 100px;
			transform-origin: right bottom;
			animation: NotificationShow .5s;
		}
		:host(.success) {
			background-color: rgba(139,195,74,0.9);
			color: rgba(255, 255, 255, 0.9);
		}
		:host(.warning) {
			background-color: rgba(255, 213, 79, 0.9);
		}
		:host(.error) {
			background-color: rgba(255,87,34,0.9);
			color: rgba(255, 255, 255, 0.9);
		}

		:host(.remind) {
			animation: NotificationShow 0.3s, NotificationRepeat 0.3s;
		}
		:host(.hide) {
			animation: NotificationHide 0.3s ease-out forwards;
		}

		@keyframes NotificationShow {
			from {
				margin: 0;
				min-height: 0;
				max-height: 0;
				opacity: 0;
				padding-top: 0;
				padding-bottom: 0;
				transform: scale(0);
			}
		}
		@keyframes NotificationHide {
			to {
				margin: 0;
				min-height: 0;
				max-height: 0;
				opacity: 0;
				padding-top: 0;
				padding-bottom: 0;
				transform: scale(0);
			}
		}
		@keyframes NotificationRepeat {
			50% {
				transform: scale(1.1);
			}
		}

		:host > i {
			background-color: rgba(0, 0, 0, 0.05);
			display: flex;
			justify-content: center;
			align-items: center;
			margin: -0.4em -0.5em;
			/*height: 1.5em;*/
			margin-right: 1ch;
			position: absolute;
			width: 1.5em;
			height: 100%;
			right: 100%;
			top: 0;
		}
		:host > * + button {
			margin-left: 1ch;
		}
		:host > div {
			display: block;
		}
	</style>
	<i id="icon">i</i>
	<div>
		<content></content>
		<slot></slot>
	</div>
	<button class="small">OK</button>
</template>


<script>
class DYNotification extends DYElement {
	constructor(){
		super()

		const root = this.root
		
		$DYPage.$notifications.append(this)
		this.on('click', () => {
			this.dismiss()
		})
	}

	remind(dismiss){
		this
			.removeClass('hide')
			.animateClass('remind')
			.dismiss(dismiss || this.duration)
	}

	// .dismiss(duration)
	// .dismiss(promise)
	dismiss(){
		if(arguments.length){
			if(arguments[0] instanceof Promise){
				const promise = arguments[0]
				promise.then(() => {
					this.dismiss()
				})
			}else if(typeof arguments[0] === 'number'){
				this.duration = arguments[0]
				clearTimeout(this.timeout)
				this.timeout = setTimeout(() => {
					this.dismiss()
				}, this.duration * 1000)
			}
		}else{
			this.classList.add('hide')
			this.classList.remove('remind')
		}
		return this
	}
}
customElements.define('dy-notification', DYNotification)
</script>