<link rel="import" href="dy-project.html">
<link rel="import" href="dy-project-filters.html">

<template id="dy-projects">
	<style>
		dy-projects, :host {
			height: 100vh;

			--dy-projects-height: calc(100vh - var(--main-menu-sticky-height));
			height: var(--dy-projects-height);

			--dy-project-max-width: calc(100vw - var(--padding) * 2);
			--dy-project-max-height: calc(var(--dy-projects-height) - var(--padding) * 2);
			
			min-height: 20rem;
			position: relative;

			display: flex;
			flex-direction: column;

			--dy-project-filters-width: 15rem;
		}
		:host(.alternate-layout) {
			flex-direction: row;
		}
		/*:host(.has-focused-project) {
			--dy-project-filters-width: 0;
		}*/

		dy-project-filters {
			font-size: 0.8em;
    		padding: var(--padding-small);
    	}
		:host(.alternate-layout) dy-project-filters {
			position: absolute;
			width: var(--dy-project-filters-width);
			max-height: 100%;
			overflow-y: auto;
			-moz-background-color: rgba(255, 255, 255, 0.6);
		}
		:host(:not(.has-focused-project)) dy-project-filters {
			z-index: 1;
		}

		.projects {
			--perspective: 30rem;
			perspective: var(--perspective);

			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			/*align-content: center;*/
			flex: 1;

			padding-top: 1em;
			/*margin-top: calc(1em - 10rem);
			padding-top: 10rem;*/

			padding-left: calc(var(--padding) - 0.5em);
			padding-right: calc(var(--padding) - 0.5em);
			padding-bottom: 5vh;

			/*max-height: var(--dy-projects-height);*/

			overflow-x: auto;
    		overflow-y: hidden;
			transition: height var(--transition-fast);
		}
		:host(.alternate-layout) .projects {
			margin: 0;
			padding-top: var(--padding-small);
			padding-left: var(--dy-project-filters-width);
		}
		:host(.alternate-layout:not(.has-focused-project)) .projects {
			-webkit-mask-image: linear-gradient(
				to right,
				transparent,
				rgba(255, 255, 255, 0.1) calc(var(--dy-project-filters-width) - 2rem),
				#fff calc(var(--dy-project-filters-width) + 2rem),
				#fff
			);
			mask-image: linear-gradient(
				to right,
				transparent,
				rgba(255, 255, 255, 0.1) calc(var(--dy-project-filters-width) - 2rem),
				#fff calc(var(--dy-project-filters-width) + 2rem),
				#fff
			);
		}
		:host/*(.has-focused-project)*/ .projects {
			margin-top: calc(var(--dy-projects-height) - 100vh);
			/*min-height: var(--dy-projects-height);*/
			padding-top: calc(100vh - var(--dy-projects-height) + 1em);
		}
		dy-projects:not(.has-focused-project) .projects,
		:host:not(.has-focused-project) .projects {
			pointer-events: none;
		}
	</style>
	<dy-project-filters></dy-project-filters>
	<div class="projects"></div>
</template>


<script>
class DYProjects extends DYElement {
	connectedCallback(){
		const root = this.root
		const _this = this
		
		const $projectsWrapper = this.$projectsWrapper

		$projectsWrapper.on({
			click: e => {
				if(e.target === $projectsWrapper)
					this.$focusedProject = undefined
			},
			scroll: this.scrollInView.throttle().bind(this)
		})

		DY.getData.then(() => {
			const pageCategory_project_id = DY.data.termsBySlug['page-category.project'].term_id

			const projects = this.projects = Object.values(DY.data.posts)
				.filter(post =>
					post['page-category'] && post['page-category'].includes(pageCategory_project_id)
				)

			for(const project of projects){
				const $project = $$$('dy-project')
					.on({
						['dy-project-focus'](){
							_this.$focusedProject = this
						},
						['dy-project-unfocus'](){
							_this.$focusedProject = undefined
						}
					})
				$project.prependTo($projectsWrapper)
				$project.data = project
			}

			this.$filters.initialize()
			this.$filters.on('dy-filter-change', () => this.onFilterChange())
		})
	}

	onFilterChange(){
		// Hide projects that don't match the filter, and animate differences in position
		const filteredProjects = this.getFilteredProjects()

		// Animate
		let animate
		this.$projects.animatePositionChange(new Promise(resolve => animate = resolve))

		for(const $project of this.$projects){
			$project.hide = !filteredProjects.includes($project.data)
		}

		animate()

		// Get a list of all term IDs associated with the filtered project, and pass it back to <dy-project-filters>
		const filteredProjectTermIDs = filteredProjects.reduce((terms, project) => {
			return [...terms, ...project.terms]
		}, [])
		this.$filters.includeTerms(filteredProjectTermIDs)
	}

	getFilteredProjects(){
		const activeTermIDs = this.$filters.activeTerms.map(term => term.term_id)

		if(activeTermIDs.length){
			return this.projects.filter(project =>
				activeTermIDs.every(termID => project.terms.includes(termID))
			)
		}else{
			return this.projects
		}
	}

	set $focusedProject($focusedProject = undefined){
		const $previousFocusedProject = this._$focusedProject
		if($focusedProject === $previousFocusedProject) return

		if($previousFocusedProject){
			$previousFocusedProject.focused = false
		}

		this._$focusedProject = $focusedProject
		
		this.toggleClass($focusedProject !== undefined, 'has-focused-project')

		if($focusedProject){
			$focusedProject.focused = true

			if($focusedProject.data.featuredImage){
				$DYPage.$background.animateBlurredImage($focusedProject.data.featuredImage.source_url)
			}
		}

		this.scrollInView()
	}

	get $projectsWrapper(){
		return this.root.find('.projects')[0]
	}

	get $projects(){
		return this.root.find('dy-project')
	}

	get $filters(){
		return this.root.find('dy-project-filters')[0]
	}

	scrollInView(){
		const computedStyle = this.computedStyle
		if(parseFloat(computedStyle['height']) > parseFloat(computedStyle['min-height']))
			document.body.animateScrollY($DYPage.$header.stickyScrollY)
	}
}
customElements.define('dy-projects', DYProjects)
</script>