<link rel="import" href="dy-date.html">

<template id="dy-project-header">
	<style>
		:host {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			overflow: hidden;
			padding: calc(var(--padding) / 2);
			position: relative;
			z-index: 1;
		}
		#background, #background:before, #background * {
			background-size: 0;
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: -1;
		}
		#background:before {
			content: '';
			background: center/contain fixed;
			background-image: inherit;
			filter: blur(1rem);
			transform: scale(1.2);
		}

		:host > * {
			align-items: center;
			flex-direction: column;
			flex: 1 40%;
			/*flex: 1 20rem;*/
			width: 100%;
			max-width: max-content;
  		}
		:host > div > *:not(#background) {
			margin: calc(var(--padding) / 2);
			justify-content: center;
		}

		#title-wrapper {
			background-image: radial-gradient(rgba(255, 255, 255, 0.25), transparent 75%);
			mix-blend-mode: overlay;
			text-shadow: 0 0 5rem #fff;
			max-width: 100%;
		}
		#title-wrapper h1 {
			color: #000;
			font-size: 3em;
			line-height: 1.2;
			text-align: center;
		}

		#horizontal-wrapper {
			display: flex;
			align-items: center;
		}

		.excerpt {
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 0.5em;
			font-size: 0.9em;
			font-style: italic;
			line-height: 1.6;
			padding: 0.75em;
			text-align: justify;
			max-width: 35em;
		}
		#dates {
			font-family: var(--heading-font);
			font-weight: bold;
			flex-wrap: wrap;
			text-transform: uppercase;

			justify-content: center;
			align-items: baseline;
		}
		#dates > * {
			margin: 0 0.25em;
		}
		#modified-date-wrapper {
			font-size: 0.85em;
		}


		@media (min-width: 45rem) {
			#title-wrapper {
				width: 80%;
			}
			.breakpoint-small {
				display: none;
			}
		}
		@media (max-width: 44.9999rem) {
			.breakpoint-large {
				display: none;
			}
		}
	</style>
	<div>
		<div id="background">
			<canvas></canvas>
		</div>
		<div id="title-wrapper">
			<h1 id="title"></h1>
		</div>
		<div id="dates">
			<dy-date id="project-date"></dy-date>
			<span id="modified-date-wrapper">Updated <dy-date id="modified-date"></dy-date></span>
		</div>
		<blockquote class="excerpt breakpoint-large"></blockquote>
	</div>
	<div>
		<figure id="featured-image">
			<img>
			<figcaption></figcaption>
		</figure>
	</div>
	<div>
		<blockquote class="excerpt breakpoint-small"></blockquote>
		<dy-terms></dy-terms>
	</div>
</template>


<script>
class DYProjectHeader extends DYElement {
	constructor(){
		super()

		const root = this.root
		customElements.whenDefined('dy-header').then(() => {
			this.addStyle($('#dy-project-filters').content.find('style')[0])
		})
	}
	connectedCallback(){
		const root = this.root

		window.on('pagerender', () => {
			if(WP.queryType !== 'single' || WP.postType !== 'project'){
				this.style.display = 'none'
				return
			}
			this.style.display = ''
			

			const data = WP.current

			root.updateWithModel({
				'#title': data.title.rendered,
				'#project-date[data-date]': data.meta.projectDate,
				'#modified-date[data-date]': data.date,
				'.link[href]': data.link,
				'.excerpt': data.excerpt.rendered
			})
			root.find('#title').fitText('7.5em')

			if(data.featuredImage){
				const imageData = data.featuredImage

				root.updateWithModel({
					'img[src]': imageData.source_url,
					'img[alt]': imageData.alt_text,
					'figcaption': imageData.caption || imageData.alt_text,
					'#background[style]': {
						'background-image': `url(${imageData.source_url})`
					}
				})

				let loadImage
				document.body.find('#background canvas')[0].draw(function(){
					if(!loadImage){
						loadImage = this.loadImage(imageData.source_url)
						this.blur(7)
					}
					loadImage.then(img => {
						//this.clear()
						this.blur(30)
						this.drawImage(img, 0, 0, this.width, this.width / img.ratio)
					})
				}, true)
				/*root.find('#background canvas')[0].draw(context => {
					with(context){
						loadImage(imageData.source_url).then(img => {
							image(img, 0, 0)
						})
					}
				})*/

				root.find('#featured-image')[0].modalize().on('modalize', function(e){
					const img = this.find('img')[0]
					Object.assign(e.detail.finalStyle, {
						width: img.naturalWidth + 'px',
						maxWidth: img.naturalWidth + 'px',
						height: img.naturalHeight + 'px',
						maxHeight: '80vh',
					})
				})
			}else{
				root.updateWithModel({
					'img[src]': '',
					'img[alt]': '',
					'figcaption': '',
					'#background[style]': ''
				})
			}

			// Initialize terms
			root.find('dy-terms')[0].initialize(data.terms)
		})
	}
}
customElements.define('dy-project-header', DYProjectHeader)
</script>