<template id="dy-project-header">
	<style>
		dy-project-header, :host {
			flex-direction: column;
			flex: 100%;
			margin: 0;
			overflow: hidden;
			padding: var(--padding);
			position: relative;
		}
		#background, #background:before, #background * {
			background-size: 0;
			overflow: hidden;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
		#background:before {
			content: '';
			background: center/contain fixed;
			background-image: inherit;
			/*filter: blur(2rem);*/background-size: 1px;
			transform: scale(1.2);
		}
		#background ~ * {
			z-index: 1;
		}
		#title-wrapper {
			background-image: radial-gradient(rgba(255, 255, 255, 0.25), transparent 75%);
			mix-blend-mode: overlay;
			text-shadow: 0 0 5rem #fff;

			margin-bottom: var(--padding-small);
			width: 100%;
		}
		#title-wrapper h1 {
			font-size: 3.5em;
			line-height: 1.2;
			text-align: center;
			width: 100%;
		}
		#inner-wrapper {
			margin: calc(var(--padding-small-neg) / 2);
		}
		#inner-wrapper > * {
			margin: calc(var(--padding-small) / 2);
		}
		#featured-image {
			flex: 1 100%;
			max-width: max-content;
		}
		#details {
			flex-direction: column;
		}
		#details > * + * {
			margin-top: 1em;
		}
		#excerpt {
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 0.5em;
			font-size: 0.9em;
			font-style: italic;
			line-height: 1.6;
			padding: 0.75em;
			text-align: justify;
		}
		#dates {
			justify-content: space-between;
		}

		@media (max-width: 35rem) {
			#inner-wrapper {
				flex-direction: column;
				align-items: center;
			}
			#featured-image {
				flex: 0;
			}
		}
	</style>
	<div id="background">
		<canvas></canvas>
	</div>
	<div id="title-wrapper">
		<h1 id="title"></h1>
	</div>
	<div id="inner-wrapper">
		<figure id="featured-image">
			<img>
			<figcaption></figcaption>
		</figure>
		<div id="details">
			<blockquote id="excerpt"></blockquote>
			<div id="dates">
				<h3><dy-date id="project-date"></dy-date></h3>
				<span id="modified-date-wrapper">Updated <dy-date id="modified-date"></dy-date></span>
			</div>
			<div id="terms"></div>
		</div>
	</div>
</template>


<script>
class DYProjectHeader extends DYElement {
	constructor(){
		super()

		const root = this.root
		customElements.whenDefined('dy-header').then(() => {
			this.addStyle($('#dy-project-filters').content.find('style')[0])
		})
	}
	connectedCallback(){
		const root = this.root

		window.on('pageload', () => {
			if(WP.queryType !== 'project'){
				this.style.display = 'none'
				return
			}
			this.style.display = ''
			

			const data = WP.current

			root.updateWithModel({
				'#title': data.title.rendered,
				'#project-date[data-date]': data.meta.projectDate,
				'#modified-date[data-date]': data.date,
				'.link[href]': data.link,
				'#excerpt': data.excerpt.rendered,
			})
			root.find('#title').fitText('7.5em')

			if(data.featuredImage){
				const imageData = data.featuredImage

				root.updateWithModel({
					'img[src]': imageData.source_url,
					'img[alt]': imageData.alt_text,
					'figcaption': imageData.caption || imageData.alt_text,
					'#background[style]': {
						'background-image': `url(${imageData.source_url})`
					}
				})

				let loadImage
				document.body.find('#background canvas')[0].draw(function(){
					if(!loadImage){
						loadImage = this.loadImage(imageData.source_url)
						this.blur(7)
					}
					loadImage.then(img => {
						//this.clear()
						this.blur(30)
						this.drawImage(img, 0, 0, this.width, this.width / img.ratio)
					})
				}, true)
				/*root.find('#background canvas')[0].draw(context => {
					with(context){
						loadImage(imageData.source_url).then(img => {
							image(img, 0, 0)
						})
					}
				})*/

				root.find('#featured-image')[0].modalize().on('modalize', function(e){
					const img = this.find('img')[0]
					Object.assign(e.detail.finalStyle, {
						width: img.naturalWidth + 'px',
						maxWidth: img.naturalWidth + 'px',
						height: img.naturalHeight + 'px',
						maxHeight: '80vh',
					})
				})
			}


			// Add terms
			const $terms = root.find('#terms')
			for(let taxonomyName in DY.data.taxonomies){
				if(taxonomyName === 'page-category') continue
				
				const terms = data[DY.mapTaxonomyName(taxonomyName)]
				if(!terms.length) continue
				
				const taxonomy = DY.data.taxonomies[taxonomyName]
				
				const $taxonomy = $$$('div')
					.addClass('taxonomy')
					.attr('data-taxonomy', taxonomyName)
					.append(
						$$$('h3').html(taxonomy.name)
					)
					.appendTo($terms)

				for(let termID of terms){
					const term = DY.data.terms[termID]

					const $term = $$$('a').attr('rel', 'tag').appendTo($taxonomy)
					$term.innerHTML = term.name
					this.addClass(`${taxonomyName}-${term.slug}`)
				}
			}
		})
	}
}
customElements.define('dy-project-header', DYProjectHeader)
</script>