<template id="dy-projects">
	<style>
		dy-projects, :host {
			height: 100vh;

			--dy-projects-height: calc(100vh - var(--main-menu-sticky-height));
			height: var(--dy-projects-height);

			--dy-project-max-width: calc(100vw - var(--padding) * 2);
			--dy-project-max-height: calc(var(--dy-projects-height) - var(--padding) * 2);
			
			min-height: 20rem;
			margin: var(--padding-neg);
			position: relative;

			display: flex;
			flex-direction: column;

			--dy-project-filters-width: 15rem;
		}
		:host(.alternate-layout) {
			flex-direction: row;
		}
		/*:host(.has-focused-project) {
			--dy-project-filters-width: 0;
		}*/

		dy-project-filters {
			font-size: 0.8em;
    		padding: var(--padding-small);
    	}
		:host(.alternate-layout) dy-project-filters {
			position: absolute;
			width: var(--dy-project-filters-width);
			max-height: 100%;
			overflow-y: auto;
			-moz-background-color: rgba(255, 255, 255, 0.6);
		}
		:host(:not(.has-focused-project)) dy-project-filters {
			z-index: 1;
		}

		.projects {
			--perspective: 30rem;
			perspective: var(--perspective);

			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			/*align-content: center;*/
			flex: 1;

			padding-top: 1em;
			/*margin-top: calc(1em - 10rem);
			padding-top: 10rem;*/

			padding-left: calc(var(--padding) - 0.5em);
			padding-right: calc(var(--padding) - 0.5em);
			padding-bottom: 5vh;

			/*max-height: var(--dy-projects-height);*/

			overflow-x: auto;
    		overflow-y: hidden;
			transition: height var(--transition-fast);
		}
		:host(.alternate-layout) .projects {
			margin: 0;
			padding-top: var(--padding-small);
			padding-left: var(--dy-project-filters-width);
		}
		:host(.alternate-layout:not(.has-focused-project)) .projects {
			-webkit-mask-image: linear-gradient(
				to right,
				transparent,
				rgba(255, 255, 255, 0.1) calc(var(--dy-project-filters-width) - 2rem),
				#fff calc(var(--dy-project-filters-width) + 2rem),
				#fff
			);
			mask-image: linear-gradient(
				to right,
				transparent,
				rgba(255, 255, 255, 0.1) calc(var(--dy-project-filters-width) - 2rem),
				#fff calc(var(--dy-project-filters-width) + 2rem),
				#fff
			);
		}
		:host/*(.has-focused-project)*/ .projects {
			margin-top: calc(var(--dy-projects-height) - 100vh);
			/*min-height: var(--dy-projects-height);*/
			padding-top: calc(100vh - var(--dy-projects-height) + 1em);
		}
		dy-projects:not(.has-focused-project) .projects,
		:host:not(.has-focused-project) .projects {
			pointer-events: none;
		}
	</style>
	<dy-project-filters></dy-project-filters>
	<div class="projects"></div>
</template>