<link rel="import" href="dy-terms.html">

<template id="dy-project-filters">
	<style>
		:host {
			transition: var(--transition-medium);
		}
		:host-context(.has-focused-project):host {
			opacity: 0.25;
		}

		@media (max-width: 36rem) {
			:host {
				flex-wrap: wrap;
			}
			div[data-taxonomy] {
				width: 100%;
			}
		}
	</style>
</template>


<script>
class DYProjectFilters extends DYTerms {
	initialize(){
		super.initialize()

		;(() => {
			const _this = this

			this.$terms.on('click', function(){
				this.toggleClass('active')
				_this.dispatchEvent(new CustomEvent('dy-filter-change'))
			})
			
			window.on('pagerender', () => this.update())
		}).delay()
	}

	get activeTerms(){
		return this.$terms.filter('.active')
			.map($term => this.$termToTerm.get($term))
	}

	includeTerms(termIDs){
		for(const $term of this.$terms){
			const term = this.$termToTerm.get($term)
			$term.toggleClass(!termIDs.includes(term.term_id), 'disabled')
		}
	}
}
customElements.define('dy-project-filters', DYProjectFilters)
</script>