<link rel="import" href="dy-button.html">

<template id="dy-terms">
	<style>
		#terms {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: -0.25em -0.5em;
		}

		div[data-taxonomy] {
			justify-content: space-between;
			align-items: center;
			align-items: stretch;
			flex-wrap: wrap;
			align-content: flex-start;
			align-content: stretch;
			margin: -2px;
			padding: 0.5em 0.5em;
		}
		#terms dt {
			display: flex;
			align-items: center;
			align-self: center;
			line-height: 1.15;
			margin: 2px;
			margin-right: auto;
			padding-right: 0.5ch;
		}
		.term, [rel=tag] {
			margin: 2px;
		}
		@media (max-width: 36rem) {
			:host {
				flex-wrap: wrap;
			}
			div[data-taxonomy] {
				width: 100%;
			}
		}
	</style>
	<dl id="terms"></dl>
</template>


<script>
class DYTerms extends DYElement {
	initialize(termIDs = [], excludeTerms = ['uncategorized'], excludeTaxonomies = ['page-category', 'category']){
		const root = this.root

		const $termsWrapper = this.$termsWrapper
		$termsWrapper.empty()

		const $termToTerm = this.$termToTerm = new WeakMap()
		
		DY.getData.then(data => {
			const terms = this.terms = data.objectsByType['term']
				.filter(term =>
					(termIDs.length === 0 || termIDs.includes(term.term_id)) &&
					!excludeTerms.includes(term.slug) &&
					!excludeTaxonomies.includes(term.taxonomy)
				)
				.sort((term1, term2) => term2.count - term1.count)

			const taxonomies = data.objectsByType['taxonomy']
				.filter(taxonomy =>
					!excludeTaxonomies.includes(taxonomy.slug) &&
					terms.some(term => term.taxonomy === taxonomy.slug)
				)

			for(const taxonomy of taxonomies){
				const $taxonomy = $$$('div')
					.attr({
						'data-taxonomy': taxonomy.slug
					})
					.append(
						$$$('dt').html(taxonomy.name)
					)
					.appendTo($termsWrapper)
				
				for(const term of terms.filter(term => term.taxonomy === taxonomy.slug)){
					const _this = this

					const $term = DYTerms.make$Term(term)
						.appendTo($taxonomy)

					$termToTerm.set($term, term)
				}
			}
		})
		
		return this
	}

	get $termsWrapper(){
		return this.root.find('#terms')
	}

	get $terms(){
		return this.root.findAll('[rel=tag]')
	}

	static make$Term(term){
		return $$$('dy-button')
			.attr('theme', 'plain')
			.attr('animated', '')
			//.attr('tabindex', '0') // Focusable
			.attr('rel', 'tag')
			.attr('title', term.description)
			.html(term.name)
	}
}
customElements.define('dy-terms', DYTerms)
</script>