<template id="dy-table-of-contents">
	<style>
		ol {
			font-size: 0.8em;
			list-style-type: none;
			padding: 0;
		}
		li > a {
			display: block;
			font-family: var(--heading-font);
			font-weight: bold;
			text-transform: uppercase;
			padding: 0.5em 0;
			line-height: 1.5;
			--link-color: currentColor;
		}
		li > a:before {
			content: "";
			border-radius: 50%;
			position: absolute;
			height: 1.5em;
			width: 1.5em;
			z-index: -1;
			transition: var(--transition-medium);
		}
		li > a.current {
			font-weight: bold;
			--link-color: inherit;
			transform: translateX(-0.5ch);
		}
		li > a.current:before {
			background-color: rgba(255,255,255,.4);
			box-shadow: 0.4em 0.4em rgba(255,255,255,.2), 0.8em 0.8em rgba(255,255,255,.1), 0.12em 0.12em rgba(255,255,255,.05);
			border-radius: 15%;
			transform: translateX(-0.6em) rotate(-45deg);
		}

		li ol {
			margin: 0;
			padding-left: 0.5em;
		}
	</style>
	<nav>
		
	</nav>
</template>


<script>
class DYTableOfContents extends DYElement {
	connectedCallback(){
		window.on('scroll.throttle.passive', () => {
			const {$article, $targets, $targetTo$Link} = this
			if($article){
				const $target = [...$targets].reverse().find(
					$target => $target.top <= $DYPage.$header.mainMenuStickyHeight
				)
				if($target !== this.$currentTarget){
					this.$links.removeClass('current')
					if($target !== undefined) $targetTo$Link.get($target).addClass('current')
				}
				this.$currentTarget = $target
			}
		})
	}

	set $article($article){
		this._$article = $article
		const $targets = this.$targets = []
		const $targetTo$Link = this.$targetTo$Link = new Map()

		const root = this.root

		const $levels = [ , this.root.find('nav')] //this
		let currentLevel = 1
		let $currentLevel = $levels[currentLevel]

		for(const $heading of $article.findAll('h2, h3, h4, h5, h6')){
			const level = +$heading.tagName[1]

			while(currentLevel < level){
				const $parentLevel = $currentLevel
				$currentLevel = $levels[++currentLevel] = $$$('ol')
				$parentLevel.append($currentLevel)
			}
			if(currentLevel > level){
				currentLevel = level
				$currentLevel = $levels[currentLevel]
			}

			const $target = $heading.id ? $heading : $heading.closest('section')
			const $link = $$$('a')
				.html($heading.html())
				.attr({
					'href': '#' + $target.id
				})
			$targetTo$Link.set($target, $link)
			$targets.push($target)

			$$$('li').append($link).appendTo($currentLevel)
		}
	}
	get $article(){
		return this._$article
	}

	get $links(){
		return this.root.findAll('a')
	}
}
customElements.define('dy-table-of-contents', DYTableOfContents)
</script>