html,
:not(body):not(#wrapper):not(#main):not(#content):not(.fusion-footer) {
	-webkit-transition-duration: 10s;
	transition-duration: 10s;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
html {
	-webkit-transition-duration: 1s !important;
	transition-duration: 1s !important;
}
.fusion-header-wrapper.fusion-is-sticky {
	display: none !important;
}