/*:host,*/ dy-project {
	justify-content: space-between;
	align-items: stretch;
	background-color: rgba(255, 255, 255, 0.6);
	background-size: 2px;
	border-radius: var(--padding-small);
	box-shadow: rgba(0,0,0,.1) 0 1px 4px;
	display: flex;
	position: relative;
	/* max-width: max-content; */
	overflow: hidden;
	/*will-change: transform;*/transform: translateZ(0);
}
dy-project.in-modal, dy-project.in-modal * {
	--transition-medium: 1s;
	--transition-fast: 0.33s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 1) !important;
}
dy-project.no-featured-image {
	background-color: var(--accent-1-half);
	min-height: 15em;
}
dy-project.no-featured-image.modalized {
	min-height: 0;
	max-height: max-content !important;
}
/*:host div,*/ dy-project div {
	flex-direction: column;
}
/*:host > *,*/ dy-project > * {
	overflow: hidden;
}
dy-project:not(.modalized) > * {
	pointer-events: none;
}
dy-project #featured-image {
	width: 10000%;
	max-width: 100%;
	height: 100%;
}
.no-featured-image #featured-image {
	display: none;
}
dy-project.modalized #featured-image {
	flex: 0 auto;
	/*max-height: 500px;*/
	/*will-change: transform;*/transform: translateZ(0);
	opacity: 1;
}
dy-project.in-modal #featured-image {
	width: min-content;
}
/*#featured-image.in-modal {
	overflow-x: scroll;
}*/
dy-project #featured-image img {
	display: block;
	max-width: none;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
	transition: var(--transition-medium);
}
dy-project.modalized #featured-image img,
dy-project.in-modal #featured-image img {
	width: auto;
	height: 100%;
}
dy-project:not(.modalized):hover #featured-image img/*,
dy-project.modalized #featured-image img*/ {
	filter: blur(2rem);
}
dy-project #details-wrapper {
	display: flex;
	flex: 1 350px;
	position: relative;
	overflow-y: hidden;
	overflow: visible;
}
dy-project:not(.no-featured-image) #details-wrapper {
	margin-left: -100%;
	transition: margin-left var(--transition-medium);
}
dy-project.modalized #details-wrapper {
	min-width: 350px;
}
dy-project:not(.no-featured-image).modalized #details-wrapper {
	margin-left: 0;
}

dy-project #details {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: var(--padding-small);
	text-align: justify;
	transition: var(--transition-medium);

	/*position: relative;
	left: -100%;*/

	/*
	mix-blend-mode: screen;
	mix-blend-mode: overlay;
	color: #fff;
	text-shadow: #888 0 1px;
	*/

	color: rgba(255, 255, 255, 0.75);
	text-shadow: #888 0 1px;
	right: 0;
	bottom: 0;
}
dy-project:not(:hover):not(.modalized):not(.no-featured-image) #details {
	filter: blur(1em);
	opacity: 0;
	transform: scale(1.5);
}
dy-project #details.light {
	color: rgba(0, 0, 0, 0.75);
	text-shadow: #bbb 0 1px;
}
dy-project.modalized #details {
	background-color: #666;
	transition: none;
	opacity: 0.9;
}
dy-project.in-modal #details {
	mix-blend-mode: luminosity;
	overflow-y: auto;
}
dy-project:not(.modalized) #details-wrapper {
	padding: 0;
}
dy-project.modalized #details.light {
	background-color: #aaa;
}
dy-project #details #title-wrapper {
	min-height: 100%;
	line-height: 1.25;
	justify-content: center;
	align-items: stretch;
	text-align: center;
	transition: var(--transition-medium);
}
dy-project.modalized #details #title-wrapper {
	min-height: 1em;
}
dy-project #details #title-wrapper a {
	padding: 0.5em 0;
}
dy-project #details #title-wrapper h2 {
	color: rgba(255, 255, 255, 0.85);
	width: 100%;
}
dy-project #details.light #title-wrapper h2 {
	color: rgba(0, 0, 0, 0.85);
}
@media (min-width: 24rem) and (max-width: 36rem) {
	#details {
		padding: var(--padding);
	}
	#details #title-wrapper h2 {
		font-size: 2em;
	}
	#details #details-inner {
		font-size: 1.2em;
	}
}
dy-project #details-inner {
	margin-top: 0.5em;
	max-height: 0;
	opacity: 0;
	transform-origin: center top;
	transform: perspective(250px) rotateX(45deg);
	transition: var(--transition-medium);
}
dy-project.modalized #details #details-inner {
	max-height: 1000%;
	height: max-content;
	opacity: 1;
	transform: perspective(250px);
	transition: calc(var(--transition-medium) - var(--transition-fast)) var(--transition-fast);
	/*transition: var(--transition-medium);*/
}
dy-project #details-inner > * + * {
	margin-top: 1em;
}

dy-project #dates {
	justify-content: center;
	align-items: center;
	text-align: center;
}
dy-project #modified-date-wrapper {
	font-size: 0.8em;
}

dy-project #terms {
	display: flex;
	flex-flow: row wrap;
	margin: -2px;
	margin-top: 1em;
}
dy-project [rel=tag] {
	padding: 0 3ch;
}




@media (max-width: 40rem) {
	dy-project.modalized {
		display: block;
		height: initial !important;
		max-width: min-content !important;
		overflow-y: auto;
	}
	dy-project.modalized * {
		max-height: min-content !important;
	}
	dy-project.modalized #featured-image {
		max-width: 100%;
	}
	dy-project.modalized #featured-image img {
		width: 100%;
		height: auto;
	}
	dy-project.modalized #details-wrapper {
		min-width: initial;
		width: max-content;
		max-width: 100%;
	}
}