@font-face {
	font-family: Asap;
	src:
		url(../fonts/Asap-Regular.woff2) format('woff2'),
		url(../fonts/Asap-Regular.woff) format('woff'),
		url(../fonts/Asap-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Asap;
	src:
		url(../fonts/Asap-Italic.woff2) format('woff2'),
		url(../fonts/Asap-Italic.woff) format('woff'),
		url(../fonts/Asap-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: Asap;
	src:
		url(../fonts/Asap-Bold.woff2) format('woff2'),
		url(../fonts/Asap-Bold.woff) format('woff'),
		url(../fonts/Asap-Bold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: Asap;
	src:
		url(../fonts/Asap-BoldItalic.woff2) format('woff2'),
		url(../fonts/Asap-BoldItalic.woff) format('woff'),
		url(../fonts/Asap-BoldItalic.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Slabo 13px';
	src:
		url(../fonts/Slabo13px-Regular.woff2) format('woff2'),
		url(../fonts/Slabo13px-Regular.woff) format('woff'),
		url(../fonts/Slabo13px-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fun Font';
	src:
		url(../fonts/FunFont-250Thin.otf) format('opentype');
	font-weight: 250;
	font-style: normal;
}
@font-face {
	font-family: 'Fun Font';
	src:
		url(../fonts/FunFont-300Light.otf) format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Fun Font';
	src:
		url(../fonts/FunFont-400Regular.otf) format('opentype');
	font-weight: 400;
	font-style: normal;
}
/*@font-face {
	font-family: 'Fun Font';
	src:
		url(../fonts/FunFont-600Demibold.otf) format('opentype');
	font-weight: 600;
	font-style: normal;
}*/
@font-face {
	font-family: 'Fun Font';
	src:
		url(../fonts/FunFont-700Bold.otf) format('opentype');
	font-weight: 700;
	font-style: normal;
}
/*@font-face {
	font-family: 'Fun Font';
	src:
		url(../fonts/FunFont-900Black.otf) format('opentype');
	font-weight: 900;
	font-style: normal;
}*/




/*@font-face {
	font-family: 'Hallo Sans';
	src:
		url(./fonts/HalloSans/Hallo-Sans.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Hallo Sans';
	src:
		url(./fonts/HalloSans/Hallo-Sans-Black.otf) format('opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Hallo Sans';
	src:
		url(./fonts/HalloSans/Hallo-Sans-Light.otf) format('opentype');
	font-weight: 100;
	font-style: normal;
}


@font-face {
	font-family: 'Norwester';
	src:
		url(./fonts/Norwester/Norwester.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Klinic Slab';
	src:
		url(./fonts/KlinicSlab/KlinicSlabMedium.otf) format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Klinic Slab';
	src:
		url(./fonts/KlinicSlab/KlinicSlabBold.otf) format('opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Klinic Slab';
	src:
		url(./fonts/KlinicSlab/KlinicSlabLight.otf) format('opentype');
	font-weight: 100;
	font-style: normal;
}*/