:root {
	/*--main-menu-height: 5rem;*/
	--main-menu-height: calc(50px + 3.5vw);
	--main-menu-sticky-height: 4.25rem;

	--secondary-menu-height: 2.625rem;
}
@media (max-height: 28.33333rem){
	:root {
		--main-menu-sticky-height: 15vh;
	}
}

:host {
	/* Inherit link color from regular color property */
	--link-color: initial;
}

#header {
	/* used to get computed pixel value in JavaScript: */ flex-basis: var(--main-menu-sticky-height);

	height: var(--main-menu-height);

	/*transition: height var(--transition-slow);*/
	will-change: height;

	position: relative;

	/*position: sticky;
	top: 0;*/

	--color: rgba(0,0,0,0.75);
}
#header.full-height {
	height: calc(100vh - var(--secondary-menu-height));
	--main-menu-height: 100vh;
	/*box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 100vmax, rgba(0, 0, 0, 0.5) 0 0 0 100vmax inset;*/
}
#header.full {
	color: rgba(255, 255, 255, 0.95);
}
#header.sticky {
	--main-menu-height: var(--main-menu-sticky-height);
}
#header.immersive:not(.sticky) {
	/*mix-blend-mode: overlay;*/ /* Very, VERY laggy! */
	z-index: 1;
}

#main-menu {
	/*background: rgba(255, 255, 255, 0.95) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 13"><g opacity=".4"><rect width="18" height="3" rx="1"/><rect y="5" width="18" height="3" rx="1"/><rect y="10" width="18" height="3" rx="1"/></g></svg>') 200% center/7.5% 25% no-repeat;*/
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: rgba(0,0,0,0.1) 0 -1px inset;

	flex: 0 auto;
	justify-content: center;
	width: var(--site-width);
	height: var(--main-menu-height);

	transition: height var(--transition-slow), background var(--transition-slow), box-shadow var(--transition-slow);
	z-index: 2;

	/*position: sticky;
	top: 0;*/
}
#header.full #main-menu {
	position: absolute;
	bottom: 0;
	min-height: max-content;
	transition: background var(--transition-slow);
}
#header.full #main-menu {
	background:
		radial-gradient(
			at center 30%,
			hsla(var(--accent-1-values), 0.5),
			rgba(0, 0, 0, 0.3)
		),
		repeating-linear-gradient(
			10deg,
			rgba(0, 0, 0, 0.03),
			rgba(0, 0, 0, 0.03) 0.5rem,
			transparent 0.5rem,
			transparent 1rem
		);
	font-size: calc(1rem + 2.5vmin);
	padding: var(--padding) 0;

	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#header.sticky #main-menu {
	/*box-shadow: var(--shadow-dark-0);*/
	position: fixed;
	top: 0;
}
#header.immersive #main-menu {
	background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.7));
}
/*#header.immersive #main-menu {
	background-color: transparent;
	background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.4));
}
#header.immersive #main-menu > ul > li > a {
	color: #fff;
}*/

/*#header.full #main-menu > * {
	filter: drop-shadow(#fff 0 0 4rem);
}*/

#logo {
	height: 100%;
	padding: 0 var(--padding);
	order: 1;
}
#header.full #logo {
	margin-right: 0;
	margin-bottom: 0.5em;
	max-width: 90%;
	height: 40vh;

	flex-direction: column;
	align-items: center;
}
#header.full #logo {
	max-height: 7rem;
}
#logo svg {
	width: auto;
	max-width: 100%;
	height: 100%;
	transform: perspective(500px) translate(0); /* adding translate(0) ensures height is updated after transitioning from sticky #header to non sticky #header */
	transform-origin: left;
	transition: var(--transition-slow) var(--ease-in-out-back);
}
/*#header.immersive #logo img {
	filter: brightness(20);
}*/
#header.full #logo {
	background: radial-gradient(rgba(255, 255, 255, 0.25), transparent 50%);
	filter: brightness(10) drop-shadow(#fff 0 0 1em);
}
#header.full #logo:after {
	content: 'BE INSPIRED.';
	font-family: var(--heading-font);
	font-size: 0.5em;
	letter-spacing: 0.4em;
}
/*#header.immersive #logo svg path {
	fill: #fff;
}*/
#header:not(.full) #logo:hover svg {
	transform: perspective(500px) rotateY(20deg);
}

#main-menu:before {
	content: '';
	flex: 1;
	order: 2;
	transition: flex var(--transition-slow);
}
#main-menu.has-hidden-items:before,
#header.full #main-menu:before {
	flex: 0;
}

#secondary-menu {
	background-color: var(--accent-1);
	color: #fff;
	font-size: 0.75em;
	line-height: var(--secondary-menu-height);
	position: relative;
	z-index: 3;
}
#secondary-menu.immersive {
	background-color: transparent;
}

nav ul {
	flex-wrap: wrap;
	padding: 0;
}
#secondary-menu > ul {
	width: 100%;
}
#main-menu > ul {
	order: 3;
}
#header.sticky #main-menu > ul {
	flex-wrap: nowrap;
}
#header.full #main-menu > ul {
	justify-content: center;
}

nav > ul > li {
	position: relative;
}
#secondary-menu > ul > :nth-last-child(2) {
	margin-left: auto;
}
#secondary-menu > ul > li + li:not(:nth-last-child(2)):before {
	content: "●";
	transform: scale(0.5);
}
#main-menu > ul > li {
	max-width: 100%;
	transition: opacity var(--transition-slow), max-width var(--transition-slow), transform var(--transition-slow);
}
#main-menu > ul > li.hide {
	opacity: 0;
	max-width: 0;
	transform: scale(0.5);
}
#header.full #main-menu > ul > li {
	margin: 0 1.5vw;
}
#header.full #main-menu > ul > li:nth-child(-n + 3) {
	order: 1;
}
@media (min-width: 20rem) and (min-height: 26rem) {
	#header.full #main-menu > ul:after {
		content: '';
		flex: 100%;
		order: 2;
	}
}
#main-menu > ul > li:nth-child(n + 4) {
	order: 3;
}

nav ul > li > a {
	width: 100%;
}
#main-menu > ul > li > a {
	font-family: var(--heading-font);

	font-family: 'Fun Font';
	font-size: 1.2em;
	text-transform: uppercase;

	padding: 0 0.8em;
	display: flex;
	align-items: center;
	transition: var(--transition-fast), font-size var(--transition-slow), transform var(--transition-medium) 0.05s var(--ease-in-out-back);
}
#main-menu ul > li > a:hover,
#main-menu ul > li > a:focus,
#main-menu ul > li > a.current {
	opacity: 1;
	text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
	transform: scale(1.15);
}
#main-menu ul > li > a.current {
	font-weight: bold;
	/*--link-color: #000;
	mix-blend-mode: color-burn;*/
}
#header.sticky #main-menu > ul > li > a {
	font-size: 0.9em;
}
#header.full #main-menu > ul > li > a {
	/*font-size: 2.5rem;*/
	line-height: 3;
}
#secondary-menu > ul > li > a {
	padding: 0 1.25ch;
}
#secondary-menu > ul > :first-child > a {
	padding-left: var(--padding);
}
#main-menu > ul:before,
#main-menu ul > :last-child > a,
#secondary-menu > ul > :last-child > a {
	padding-right: var(--padding);
}

nav ul > li > dy-icon {
	transition: var(--transition-medium), transform var(--transition-medium) var(--ease-in-out-back);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
nav ul > li > a:hover + dy-icon,
nav ul > li > a:focus + dy-icon,
nav ul > li > a.current + dy-icon {
	opacity: 0.8;
	transform: scale(1.2);
}
nav ul > li > a.current + dy-icon {
	filter: drop-shadow(0 0 1.5em);
}
nav ul > li > a:not(:hover):not(.current) + dy-icon {
	opacity: 0.1;
	color: #000;
}
#header.immersive:not(.sticky) nav ul > li > a:not(:hover) + dy-icon {
	opacity: 0.2;
	color: #fff;
}



/* Submenus */
nav > ul > li ul {
	color: var(--color);
	margin: 0;
	width: max-content;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 3;
	transition: var(--transition-fast), transform var(--transition-medium) var(--ease-out-back);
	transform: perspective(500px);
	transform-origin: top;
}
#secondary-menu > ul > li ul {
	color: var(--color);
}
nav > ul > li:not(:hover):not(:focus) > ul {
	opacity: 0;
	pointer-events: none;
	transform: perspective(500px) rotateX(-90deg);
}
nav > ul > li ul > li {
	display: flex;
}

nav > ul > li ul > li > a {
	background: rgba(255, 255, 255, 0.925);
	line-height: 2.5;
	padding: 0 1.5ch;
}


/*@media (max-width: 38rem) {
	#main-menu {
		background-position: calc(100% - var(--padding));
		justify-content: flex-start;
	}
	#logo {
		padding: 0 1.25em;
		margin: 0;
	}
	#main-menu > ul {
		justify-content: flex-end;
		position: absolute;
		width: 100%;
		top: 100%;
		transition: var(--transition-fast), transform var(--transition-medium) var(--ease-out-back);
		transform: perspective(500px);
		transform-origin: top;
	}
	#main-menu:not(:hover):not(:focus) > ul {
		opacity: 0;
		pointer-events: none;
		transform: perspective(500px) rotateX(-90deg);
	}
	#main-menu > ul > li {
		flex: 100%;
		flex-wrap: wrap;
	}
	#main-menu ul > li > a {
		background: rgba(255, 255, 255, 0.925);
		line-height: 2.5;
		padding: 0 var(--padding);
	}
	#header:hover ~ * > * {
		filter: blur(6px);
	}
	
	
	#main-menu > ul > li ul {
		font-size: 0.9em;
		width: 100%;
		position: initial;
		transform: none;
		
		opacity: initial;
	}
	#main-menu > ul > li ul > li > a:before {
		content: '●';
		ma`rgin-right: 1ch;
	}
}*/




#secondary-menu.sub-menu-open ~ #header:not(.full) > nav > ul > li > a {
	opacity: 0;
}
/*body.sub-menu-open main > * > *,
body.sub-menu-open footer > * > * */
body.sub-menu-open main > *,
body.sub-menu-open footer > * {
	/*filter: blur(10px);*/
	filter: blur(6px);
}