/*:root:not(.render) {
	background: url(../logo/DY-Logo-Animated.svg) center/25vmin no-repeat fixed, var(--page-background);
}*/
dy-page {
	background: var(--page-background);
}
dy-page:not(.render) {
	background: url(../logo/DY-Logo-Animated.svg) center/25vmin no-repeat fixed, var(--page-background);
}

/*:root.load * {
	transition: 3s cubic-bezier(0, 1, 0, 1);
	text-shadow: 0 0 !important;
	-webkit-text-fill-color: transparent !important;
}*/
/*:root:not(.load) * {
	-webkit-text-fill-color: transparent !important;
	text-shadow: 0 0 2em !important;
}*/
/*:root:not(.load), :root:not(.load) * {
	transform: translateZ(100px) !important;
	transform-style: preserve-3d !important;
}*/



main {
	--main-background-color: rgba(255, 255, 255, 0.6);
	background-color: var(--main-background-color);

	display: flex;
	flex-wrap: wrap;
	flex: 1;

	transition: var(--transition-medium), filter var(--transition-slow), height var(--transition-slow);
}

main.hide {
	opacity: 0;
	transform: scale(0.95) translate(0, 2.5vh);
}

/*@media (max-width: 36rem) {
	main {
		flex-direction: column;
	}
}*/