main {
	--main-background-color: rgba(255, 255, 255, 0.6);
	background-color: var(--main-background-color);

	display: flex;
	flex-wrap: wrap;
	flex: 1;

	transition: var(--transition-medium), filter var(--transition-slow), height var(--transition-slow);
}

main.hide {
	opacity: 0;
	transform: scale(0.95) translate(0, 2.5vh);
}

/*@media (max-width: 36rem) {
	main {
		flex-direction: column;
	}
}*/