main > aside, dy-sidebar {
	flex: 0 12rem;
	flex-direction: column;

	box-sizing: content-box;
	margin: 0 auto;
	padding: var(--padding);

	position: sticky;
	top: var(--main-menu-sticky-height);
	height: min-content;
	max-height: 100vh;
	overflow-y: auto;
}

@media (max-width: 36rem) {
	main > aside, dy-sidebar {
		margin: 0;
		margin-top: 2em;
		width: initial;
	}
}